<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>chat</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<header>
		<h1>Tchat en NodeJs</h1>
	</header>
	<div class="content">
		<!-- 		<section>
			<article>

			</article>
		</section> -->

		<section id="chatsection">

		</section>
	</div>

	<footer>
		<fieldset class="field">
			<legend id="legend">Envoi de Message</legend>

			<form method="POST">
				<div class="container">
					<label for="Message">Message:</label>
					<input type="text" class="input Message" name="Message" id="Message"
						placeholder="Tapez votre message">
					<input type="submit" class="submit" value="Envoyer">
				</div>
			</form>
		</fieldset>

		<h3>&copy Seb</h3>
	</footer>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat.js"></script>
</body>

</html>