<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>tchat Login</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<header>
		<h1>Chat en NodeJs</h1>
	</header>

	<section>
		<article>
			<fieldset class="field">
				<legend>LOGIN</legend>

				<form method="POST">
					<div class="container">
						<label for="Pseudo_User">Pseudo</label>
						<input type="text" class="input" name="Pseudo_User" id="Pseudo_User">
					</div>
					<div class="container">
						<label for="Password_User">password</label>
						<input type="text" class="input" name="Password_User" id="Password_User">
					</div>
					<input type="submit" class="submit" value="Envoyer" disabled>
					</div>
				</form>
			</fieldset>
		</article>
	</section>
	<footer>
		<h3>&copy Seb</h3>
	</footer>

</body>

</html>